{% extends 'base.html' %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}
{% if user.is_authenticated %}
ERROR MESSAGES : {{message }}
<form method="post" enctype="multipart/form-data">
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="OK" %}
    {% bootstrap_button button_type="reset" content="Cancel" %}
</form>
{% endif %}
{% endblock %}