{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<h1>NotePage</h1>
{% if user.is_authenticated %}
<p>Your Balance : {{ user.profile.balance }}</p>
{% else %}
<p>You are not logged in, hence you cannot buy this item</p>
{% endif %}
<form method="post" enctype="multipart/form-data">

    
    
    <td>Notes: {{form.notes}}</td><br>
    <button type="submit">Submit</button>
  </form>

