<h1>Shoppage</h1>
<a href="../">Home</a>
{% if user.is_authenticated %}
    <p>Welcome, {{ user.get_username }}. Thanks for logging in. Your Balance : {{ user.profile.balance }}</p>
    <p><a href="../user_items">Profile</a></p>
{% else %}
    <p>Welcome, new user. Please <a href="../login">log in.</a> </p>
{% endif %}
{% if messages %}

    {% for message in messages %}
    <p style="color:red">{{ message }}</p>
    {% endfor %}

{% endif %}
{% if shop_items %}
There are {{shop_items|length}} objects in the shop:
<br>
{% for s in shop_items %}
<br>
<td><h4>{{ s.item.name }}</h4></td><br>
<td><img src="{{ s.item.data.url }}"/></td><br>
<td>{{ s.price }}</td><br>
<td>{{ s.description }}</td><br>
<td><a href="{{s.pk}}">View item</a></td><br>
<td>{{ s.sold }} sold</td><br>
<br>
{% endfor %}
{% endif %}
