{% extends 'base.html' %}
{% block content %}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}
{% if shop_items %}
There are {{shop_items|length}} objects in the shop:
<br>
{% for k,s in shop_items.items %}
    <td><h4>{{ s.item.item.name }} by {{s.item.item.user.username}}</h4></td><br>
    <td><img src="{{ s.item.item.data.url }}"/></td><br>
    <td>Price: {{ s.item.price }}</td><br>
    <td>Description: {{ s.item.description }}</td><br>
    <ts>Rating: {{ s.rating }} (avg. from {{ s.num_reviews }})</ts>
    <td><a id="viewable-{{s.item.item.name}}" href="item/{{s.item.pk}}">View item</a></td><br>
    <td>{{ s.item.sold }} sold</td><br>
    <br>
{% endfor %}
{% endif %}
{% endblock %}
