{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% csrf_token %}
<h1>itempage</h1>
{% if user.is_authenticated %}
<p>Your Balance : {{ user.profile.balance }}</p>
{% else %}
<p>You are not logged in, hence you cannot buy this item</p>
{% endif %}
<td>{{ item.item.name }}</td><br>
<td><img src="{{ item.item.data.url }}"/></td><br>
<td>{{ item.price }}</td><br>
<td>{{ item.description }}</td><br>
<td>{{ item.item.user.username }}</td><br>
<td><a href="../purchase/{{item.pk}}">BUY for {{item.price}}</a></td><br>

