{% extends 'base.html' %}
{% block content %}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}
{% if shop_items %}
There are {{shop_items|length}} objects in the shop:
<br>
{% for s in shop_items %}
   
    <td><a id="viewable-s.item.pk" href="{%url 'itemPage' item_id=s.pk%}">View item</a></td><br>
    <br>
{% endfor %}

<center>
<nav aria-label="...">
    <ul class="pagination">
        {% if prev == None %}
        <li class="page-item disabled">
            <a class="page-link" href="{% url 'shop' page_num=prev %}">Previous</a>
        </li>
        {% else %}
        <li class="page-item active">
            <a class="page-link" href="{% url 'shop' page_num=prev %}">Previous</a>
        </li>
        {% endif %}
        <li class="page-item disabled">
            <a class="page-link" href="{% url 'shop' page_num=current %}">{{current}}</a>
        </li>
        {% if next == None %}
        <li class="page-item disabled">
            <a class="page-link" href="{% url 'shop' page_num=current %}">Next</a>
        </li>
        {% else %}
        <li class="page-item active">
            <a class="page-link" href="{% url 'shop' page_num=next %}">Next</a>
        </li>
        {% endif %}
           
    </ul>
</nav>
</center>
{% endif %}
{% endblock %}
