{% extends 'base.html' %}
{% block content %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<form method="post">

  Username : {{ form.username }}<br>
  Firstname :{{ form.first_name }}<br>
  Lastname : {{ form.last_name }}<br>
  Email : {{ form.email }}<br>
  Password : {{ form.password1 }}<br>
  Repeat password : {{ form.password2 }}<br>
  {{ form.cryptographic_key.as_hidden }}
  <button type="submit">Sign up</button>
</form>
{% endblock %}
