{% extends 'base.html' %}
{% block content %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<p>Profile_id: {{user.profile.pk}}</p>
{% if user_items %}
You have {{user_items|length}} uploaded objects:<br><br>

{% for s in user_items %}

<img src="{{s.data.url}}"><br>
<td>{{ s.name }}</td><br>
<td><a id="self-enlist-{{s.name}}" href="enlist/{{s.pk}}">Enlist item</a></td><br>
<td><a id="self-view-{{s.name}}" href="{{s.pk}}">View Item</a></td><br>

{% endfor %}
{% endif %}
<br>
<br>
<br>
You have {{user_listings|length}} enlisted objects:<br><br>
{% if user_listings %}
{% for s in user_listings %}
<td>Name: {{ s.item.name }}</td><br>
<td>Price: {{ s.price }}</td><br>
<td>Sold: {{ s.sold }}</td><br>
<td><a id="self-enlist-view-{{s.item.name}}" href="{{s.item.pk}}">View item</a></td>


{% endfor %}
{% endif %}
<br>
You have {{user_bought|length}} bought objects:<br><br>
{% if user_bought %}
{% for s in user_bought %}
<td>Name: {{ s.item.name }}</td><br>
<td><a id="bought-view--{{s.item.name}}" href="{{s.item.pk}}">View Item</a> <a id="bought-review-{{s.item.name}}" href="review/{{s.item.pk}}">Write a review</a></td><br>
{% endfor %}
{% endif %}
{% endblock %}

