{% csrf_token %}
<h1>itempage</h1>
{% if user.is_authenticated %}
<a href="../shop">Back to Shop</a><br>
<a href="../new_item">Create new Item</a>
{% endif %}
{% if user_items %}
<br>
<br>
You have {{user_items|length}} uploaded objects:<br><br>

{% for s in user_items %}

<img src="{{s.data.url}}"><br>
<td>{{ s.name }}</td><br>
<td><a href="enlist/{{s.pk}}">Enlist item</a></td><br>

{% endfor %}
{% endif %}
<br>
<br>
<br>
You have {{user_listings|length}} enlisted objects:<br><br>
{% if user_listings %}
{% for s in user_listings %}
<td>Name: {{ s.item.name }}</td><br>
<td>Price: {{ s.price }}</td><br>
<td>Sold: {{ s.sold }}/{{ s.available_units }}</td><br>
<td><a href="{{s.pk}}">View item</a></td>

{% endfor %}
{% endif %}

